@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');


/* CONFIGURAÇÕES GLOBAIS */
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* CORPO */
body {
    font: 14px Georgia, "Times New Roman", Times, serif;
}
.body-1 {
    background-image: linear-gradient(to bottom,#4E0000, #370101, #340002);
    padding-bottom: 36px;
}

.container {
    margin: auto;
    width: 960px;
}

/* CABEÇALHO */
header {
    margin: auto;
    width: 910px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

header > div {}

header > nav {
}

header > nav > div {
    text-align: right;
}

header > nav > div > a{
    margin-left: 14px;
    border-right: 1px solid #7a0206;
    display: inline-block;
    padding-right: 29px;
}


header > nav > ul {
    list-style: none;
    display: flex;
    margin-top: 45px;
    gap: 46px;
    margin-left: 18px;
}

header > nav > ul > li {}

header > nav > ul > li > a {
    color: rgb(212, 209, 209);
    /* color: white; */
    text-decoration: none;
    font-size: 18px;
    padding: 7px;
}
 header > nav > ul > li > a:hover{
    background-color: #6b0707;
    transition: 0.5s;
    padding: 7px;
} 
#a-especial{
    background-color: #6b0707;
}
/* SECTION SLIDE */

.secao_slide {
    min-width: 300px;
    max-width: 995px;
    margin: auto;
    background-image: url(imagens/bg_slider.jpg);
    margin-top: 30px;
    display: flex;
    padding: 10px;
    box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.514);
}

.secao_slide > .secao_slide_div {
    margin: auto;
    /* font-family: 'Cormorant Garamond', serif; */
}

.secao_slide > .secao_slide_div > h2 {
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    color: #b8170f;
    font-family: 'Playfair Display', serif;
}

.secao_slide > .secao_slide_div > h3 {
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    color: rgb(51, 48, 48);
    font-family: 'Playfair Display', serif;
}

.secao_slide > .secao_slide_div > .paragrafo {
    background: url(imagens/quot1.png) 18px 35px no-repeat;
}

.secao_slide > .secao_slide_div > .paragrafo > p {
    padding-top: 39px;
    margin: auto;
    text-align: center;
    width: 255px;
    color: rgb(41, 40, 40);
    font-size: 15px;
    background: url(imagens/quot2.png) right bottom no-repeat;
    line-height: 22px;
}

/* MAIN */
main {
    background-color: #FAF3ED;
    min-width: 300px;
    max-width: 995px;
    margin: auto;
}

.secao_div > img {}

/* SECTION ANÚNCIOS */
.secao_anuncios {
    margin-top: 31px;
}

.secao_anuncios > ul {
    list-style: none;
    display: flex;
    width: 308px;
    justify-content: center;
    gap: 55px;
    margin: auto;
} 

.secao_anuncios > ul > li {
    background-image: linear-gradient(0deg, #180001, #330303, #380303);
    padding: 20px;
    border-top: 14px solid #270002;
    color: white;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.267);
}

.secao_anuncios > ul > li > h2 {
    font-weight: lighter;
    font-size: 2.1em;

}

.secao_anuncios > ul > li > h2 > strong {
    color: #A70000;
    font-weight: lighter;
}

.secao_anuncios > ul > li > img {
    padding-top: 12px;
    padding-bottom: 14px;
}

.secao_anuncios > ul > li > p { 

    line-height: 22px;
}
.secao_anuncios > ul > li > p > a {
    color: #850001;
    text-decoration: none;
}
.secao_anuncios > ul > li > p > a:hover{
    text-decoration: underline;
} 

.lista-2 {
    padding-left: 4px;
    list-style: none;
}
.lista-2 > li{
    background: url(imagens/marker_1.gif) 1px 8px no-repeat;
}

.a-pers {
    text-decoration: none;
    padding-left: 11px;
    color: white;
    font-style: italic;
    line-height: 22px;
}
.a-pers:hover{
    text-decoration: underline;
}
/* botoes */
.secao_anuncios > ul > li > a {
    margin-top: 20px;
    display: block;
    text-decoration: none;
    background-color: #b40e05;
    color: white;
    font-size: 21px;
    width: 128px;
    text-align: center;
    padding: 8px;
}

.secao_anuncios > ul > li > a:hover {
    background-color: white;
    color: #180001;
}

/* SECTION ANÚNCIOS DE PEDIDOS */
.container > .substitulos {
    display: flex;
    justify-content: space-between;
    padding: 25px 94px 16px 17px;
    color: rgb(41, 5, 5);
}
.container > .substitulos > h2 {
    font-weight: lighter;
    font-size: 2.4em;
}


.secao_anuncios2 {
    display: flex;
}

.secao_anuncios2 > .ul-1 {
    list-style: none;
    display: flex;
}

.secao_anuncios2 > .ul-1 > div {}

.secao_anuncios2 > .ul-1 > div > li {
    display: flex;
    padding-left: 16px;
    margin-bottom: 34px;
    gap: 17px;
    color: rgb(41, 5, 5);
}

.secao_anuncios2 > .ul-1 > div > li > .item_div {
    line-height: 26px;
    font-size: 13px;
}

.secao_anuncios2 > .ul-1 > div > li > .item_div > img {}


.secao_anuncios2 > .ul-1 > div > li > .item_div > a {
    color: #ca0303;
    text-decoration: none;
}
.secao_anuncios2 > .ul-1 > div > li > .item_div > a:hover{
    text-decoration: underline;
}


.secao_anuncios2 > .ul-1 > div > li > .item_div > p {}

.secao_anuncios2 > .ul-2 {
    margin-right: 36px;
}

.secao_anuncios2 > .ul-2 > li {
    display: flex;
    margin-bottom: 22px;
    gap: 26px;
}

.secao_anuncios2 > .ul-2 > li > .item-div-2 {}

.secao_anuncios2 > .ul-2 > li > .item-div-2 > span {
    background: #A80002;
    display: block;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 30px;
}


.secao_anuncios2 > .ul-2 > li > .item-div-2 > p {
    width: 180px;
    padding-bottom: 8px;
}
.secao_anuncios2 > .ul-2 > li > .item-div-2 > p > q {}
.secao_anuncios2 > .ul-2 > li > .item-div-2 > img {}

/* FOOTER */
footer {
    background-image: url(imagens/bg_slider.jpg);
}

footer  .footer_div {
    display: flex;
    justify-content: space-around;
    padding: 27px 0px 30px 0px; 
    gap: 275px;
    align-items: center;
    color: #696969;
}

footer  .footer_div > .div-1 {
    margin-left: 18px;
}

footer  .footer_div > .div-1 > h3 {
    font-weight: lighter;
    font-size: 1.5em;
    color: #230000;
    padding-bottom: 14px;
}
footer  .footer_div > .div-1 > h3 > strong{
    color: #A70000;
    font-weight: lighter;
}


footer  .footer_div > .div-1 > p {
    width: 393px;
    font-size: 12px;
}

footer  .footer_div > .div-1 > p > a {
    color: #ca0303;
    text-decoration: underline;
}
footer  .footer_div > .div-1 > p > a:hover{
    text-decoration: none;
}

footer  .footer_div > .div-2 {
    /* margin-right: 132px;
    width: 217px; */
}

footer  .footer_div > .div-2 > h3 {
    font-weight: lighter;
    font-size: 1.5em;
    color: #230000;
    /* margin-right: 132px; */
    width: 217px;
    padding-right: 66px;
    padding-bottom: 14px;
}

footer  .footer_div > .div-2 > ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

footer  .footer_div > .div-2 > ul > li {}

footer  .footer_div > .div-2 > ul > li > abbr {}

footer  .footer_div > .div-2 > ul > li > abbr > img {}

