/* PALETA DE CORES */
:root {
    --cor0: white;
    --cor1: #ff3779;
    --cor2: #ED145B;
    --cor3: #1E1E1E;
    --cor4: #131313;
    --cor5: #141414;
    --cor6: #040404;
}
/* SEÇÃO ABOUT */
.about {
    background-color: var(--cor6);
    max-width: 610px;
    padding: 20px;
}

.secaoAbout img {
    width: 100%;
}

.secaoAbout h2 {
    color: white;
    font-weight: lighter;
    font-size: 24px;
    margin: 9px 0;
}

.secaoAbout .aParagrafo {
    margin-bottom: 10px;
    font-style: italic;
}

.secaoAbout p {
    color: #8d8d8d;
}

.secaoAbout p a {
    color: white;
    text-decoration: none;
}

.secaoAbout p a:hover {
    color: var(--cor2);
}

/* SEÇÃO EMAIL */
.secaoEmail {
    background-color: var(--cor6);
    padding: 20px;
}

.secaoEmail p {
    color: #8d8d8d;
    font-weight: bold;
    margin-bottom: 5px;
} 

.secaoEmail .divInput {
    display: flex;
    margin: 20px 0;
}

.secaoEmail .divInput input {
    padding-left: 108px;
    margin-right: 10px;
    border: 2px solid #999999;
}

.secaoEmail .divInput p {}


/* TEXT ARE */
.divText {}

.divText #textArea {
    border: 2px solid #999999;
    width: 550px;
}

/* BOTAO */
.divBotao {
    display: flex;
    justify-content: flex-end;
}
.botao {
    display: block;
    border: 1px solid #999999;
    padding: 10px 30px;
    margin-top: 10px;
    margin-right: 13px;
    cursor: pointer;
}