/* PALETA DE CORES */
:root {
    --cor0: white;
    --cor1: #ff3779;
    --cor2: #ED145B;
    --cor3: #1E1E1E;
    --cor4: #131313;
    --cor5: #141414;
    --cor6: #040404;
}

/* SEÇÃO BLOG */
.secaoArtigo {
    margin-bottom: 20px;
}

.secaoArtigo .artigo {
    background-color: var(--cor6);
    max-width: 610px;
    padding: 20px;
    margin-bottom: 20px;
}

.secaoArtigo .artigo img {
    width: 100%;
}

.secaoArtigo .artigo h2 {
    color: white;
    font-weight: lighter;
    font-size: 24px;
    margin: 9px 0;
}

.secaoArtigo .artigo .aParagrafo {
    margin-bottom: 10px;
    font-style: italic;
}

.secaoArtigo .artigo p {
    color: #8d8d8d;
}

.secaoArtigo .artigo p a {
    color: white;
    text-decoration: none;

}
.secaoArtigo .artigo p a:hover {
    color: var(--cor2);
}

/* SEÇÃO ALBUMS */
.secaoAlbums {
    width: 306px;
}

/* LISTA DE BOTÕES */
.listaBotao {
    list-style: none;
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    justify-content: space-around;
}

.listaBotao .botao {
    font-weight: bold;
    background-color: white;
    padding: 2px 9px;
    color: #333333;
}
.listaBotao .botao:hover {
    background-color: var(--cor2);
    color: white;
}

#aaDestaque {
    background-color: var(--cor2);
    color: white;
}