/* PALETA DE CORES */
:root {
    --cor0: white;
    --cor1: #ff3779;
    --cor2: #ED145B;
    --cor3: #1E1E1E;
    --cor4: #131313;
    --cor5: #141414;
    --cor6: #040404;
}

/* SEÇÃO CONTATO */
.secaoContato {
    display: flex;
}

/* SEÇÃO EMAIL */
.secaoEmail {
    width: 610px;
    padding-bottom: 50px;
}

/* SEÇÃO FIND US */
.secaoFind {
    margin-left: 25px;
    width: 300px;
}

.secaoFind h2 {
    color: white;
    font-weight: lighter;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--cor2);
    padding-bottom: 5px;
}

.secaoFind .contato {
    background-color: var(--cor6);
    padding: 15px;
}

.secaoFind .divImg {}

.secaoFind .divImg img {
    width: 100%;
}

.secaoFind .listContato {
    list-style: none;
}

.secaoFind .listContato .itemContato {
    color: #999999;
}
