/* PALETA DE CORES */
:root {
    --cor0: white;
    --cor1: #ff3779;
    --cor2: #ED145B;
    --cor3: #1E1E1E;
    --cor4: #131313;
    --cor5: #141414;
    --cor6: #040404;
}

/* SECÃO GALLERY */
.secaoGallery {}

.secaoGallery .listGallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.secaoGallery .listGallery .itemGallery {
    background-color: var(--cor6);
    padding: 11px 20px;
    width: 23%;
    margin-left: 18px;
    margin-bottom: 17px;
}

.secaoGallery .listGallery .itemGallery img{
    width: 100%;
}

.secaoGallery .listGallery .itemGallery h2{
    font-size: 23px;
    color: white;
    font-weight: lighter;
    margin-top: 6px;
}

.secaoGallery .listGallery .itemGallery h2:hover {
    color: var(--cor2);
}