/* CONFIGURAÇÕES GLOBAIS     */
* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

/* PALETA DE CORES */
:root {
    --cor0: white;
    --cor1: #ff3779;
    --cor2: #ED145B;
    --cor3: #1E1E1E;
    --cor4: #131313;
    --cor5: #141414;
    --cor6: #040404;
}

/* CORPO */
body {
    background-image: url(../img/pattern29.png);
    font: 14px/25px Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 20px;
    background-image: linear-gradient(0deg, orange,blue,green,purple);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(146, 73, 73);
    border-radius: 10px;
}

.container {
    max-width: 930px;
    margin: auto;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor4);
    max-width: 970px;
    padding: 36px 20px;
    margin: auto;
    margin-top: 50px;
}

.cabecalho .divPosicionamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho .divImg {}

.cabecalho .divInput {}

.cabecalho .divInput input{
    display: block;
    width: 215px;
    padding: 10px;
    border-radius: 4px;
}


/* MENU */
nav {
    background-color: var(--cor2);
    width: 970px;
    margin: 20px auto;
    font-size: 16px;
}

nav .container .listaNav {
    list-style: none;
    display: flex;
    padding: 28px 0;
    gap: 40px;
}

nav .container .listaNav .itemNav {}

nav .container .listaNav .itemNav a {
    text-decoration: none;
    color: white;
    padding: 15px;
}
nav .container .listaNav .itemNav #aDestaque {
    background-color: var(--cor1);
}
nav .container .listaNav .itemNav a:hover {
    background-color: var(--cor1);
    padding: 15px;
}

/* SEÇÃO SLIDE */
.secaoSlide {
    background-color: var(--cor4);
    max-width: 970px;
    margin: auto auto 20px auto;
    padding: 15px 20px;
}

.secaoSlide .container {}

.secaoSlide .container img{
    max-width: 100%;
}

/* CONTEÚDO PRINCIPAL */
main {
    background-color: var(--cor4);
    max-width: 970px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

/* SEÇÃO DE ANÚNCIOS */

.secaoAnuncios {
    color: white;
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
}

.secaoAnuncios .anuncio {
    background-color: var(--cor2);
    padding: 20px 10px;
}

.secaoAnuncios .anuncio h2 {
    font-size: 23px;
    font-weight: lighter;
    padding: 5px 0;
}

.secaoAnuncios .anuncio p {
    font-size: 16px;
    font-weight: lighter;
}

.secaoAnuncios .anuncio a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: right;
    width: 275px;
}
.secaoAnuncios .anuncio a:hover {
    color: var(--cor2);
}

/* SEÇÃO DE EVENTOS */
.secaoEventos {
    display: flex;
}

/* SEÇÃO DE EVENTOS */
.secaoBlog {}

.secaoBlog > h2 {
    color: white;
    font-weight: lighter;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--cor2);
    padding-bottom: 5px;
}

article {
    background-color: var(--cor6);
    max-width: 610px;
    display: flex;
    padding: 14px;
    margin-bottom: 10px;
    gap: 5px;
}

article .imagem img {
    width: 95%;
}

article .banda {}

article .banda h2 {
    color: white;
    font-weight: normal;
    font-size: 20px;
}

article .banda aside {
    background-color: var(--cor4);
    padding: 5px 10px;
}

article .banda aside p {
    color: #8d8d8d;
    font-weight: normal;
    font-style: italic;
}

article .banda aside p a{
    text-decoration: none;
    color: white;
}
article .banda aside p a:hover {
    color: var(--cor2);
}

article .banda p {
    color: #8d8d8d;
    font-weight: normal;
}

/* SEÇÃO ALBUMS */
.secaoAlbums {
    margin-left: 25px;
    width: 300px;
}

.secaoAlbums h2 {
    color: white;
    font-weight: lighter;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--cor2);
    padding-bottom: 5px;
}

.secaoAlbums div {
    background-color: var(--cor6);
    padding: 15px;
}

.secaoAlbums div img {
    width: 100%;
}

/* SEÇÃO EVENTS */
.secaoEvents {
    margin-left: 25px;
}

.secaoEvents  h2 {
    color: white;
    font-weight: lighter;
    font-size: 24px;
    margin: 20px 0;
    border-bottom: 3px solid var(--cor2);
    padding-bottom: 5px;
}

.secaoEvents div {
    background-color: var(--cor6);
    padding: 15px;
}

.secaoEvents div .listaEvent {
    background-color: var(--cor3);
    list-style: circle;
    padding: 20px 30px;
}

.secaoEvents  div .listaEvent .itemEvent {
    line-height: 34px;
}

.secaoEvents  div .listaEvent .itemEvent a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.secaoEvents  div .listaEvent .itemEvent a:hover {
    color: var(--cor2);
}

/* FOOTER */
footer {
    max-width: 970px;
    margin: auto;
    background-color: var(--cor4);
    border-top: 5px solid var(--cor2);
    padding: 20px 20px 31px 20px;
}


.listaCreditos {
    display: flex;
    gap: 20px;
    list-style: none;
}

.listaCreditos .itemCredito {
    width: 25%;
}

/* CREDITOS */
#liUm {}

#liUm h2 {
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
}

#liUm p {
    color: #8d8d8d;
    line-height: 29px;
}



#liDois {}

#liDois h2 {
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
}

#liDois ul {
    list-style: none;
}

#liDois ul li {
    margin-bottom: 15px;
}

#liDois ul li a {
    text-decoration: none;
    color: white;
    border-bottom: 1px dotted #333333;
    padding-bottom: 7px;
    width: 100%;
    display: block;
}
#liDois ul li a:hover {
    color: var(--cor2);
}


#liTres {}

#liTres h2 {
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
}

#liTres div {
    display: flex;
    flex-wrap: wrap;
}

#liTres div a {
    color: white;
    text-decoration: none;
    background-color: var(--cor2);
    padding: 10px;
    margin: 4px;
}
#liTres div a:hover {
    background-color: var(--cor1);
}

#liQuatro {}

#liQuatro h2 {
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
}

#liQuatro ul {
    list-style: none;
}

#liQuatro ul li {
    color: #8d8d8d;
    border-bottom: 1px dotted #333333;
    padding-bottom: 10px;
    padding-top: 5px;
}

.divFooter p {
    background-color: var(--cor6);
    padding: 10px;
    width: 970px;
    margin: auto;
    color: white;
    text-align: center;
}

.divFooter p a {
    color: white;
}
.divFooter p a:hover {
    color: var(--cor2);
}