.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.form-input {
    width: 300px;
    height: 40px;
    padding: 0.6rem 1.25rem;
    border: none;
    background-color: var(--icon-color);
}