@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#060273, #0439D9, #05C7F2, #05F2DB);
}

main{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #01443da8;

    max-width: 660px;
    min-width: 280px;
}

div{
    padding: 5px 10px 5px 10px;
    background-color: rgba(233, 232, 232, 0.651);
    border: 1px solid rgb(204, 199, 199);
    box-shadow: 5px 5px 15px rgba(172, 169, 169, 0.651);
    margin-bottom: 6px;
}

h1{
    text-align: center;
    color: #050259;
    text-shadow: 1px 1px 3px #04023ff1;
}

h2{
    color: #0a0596;
    text-shadow: 1px 1px 4px #0a0596;
}