/* PALETA DE CORES */
:root {
    --cor1: #fbfbff;
    --cor2: #757575;
    --cor3: #20bf55;
    --cor4: #01baef;
    --cor5: #0b4f6c;
    --cor6: #115829;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* CORPO */
body {
    font-family: 'Open sans', Helvetica, sans-serif;
    background-color: var(--cor5);
}

/* CABECALHO */
.cabecalho {
    max-height: 170px;
    background-image: linear-gradient(to top, var(--cor5), var(--cor4));
    padding: 10px;
    margin-bottom: 30px;
}

/* CONTAINER */
.container {
    margin: auto;
    width: 1000px;
}

/* POSICIONAMENTO */
.divPosicionamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho .divImagem {
    display: flex;
    align-items: center;
}

.cabecalho .divImagem img {
    width: 100%;
}

.cabecalho .divImagem h2 {
    color: white;
    font-weight: lighter;
    font-size: 25px;
}


/* MENU */
.menu {}

.menu .listaLink {
    list-style: none;
    display: flex;
    gap: 30px;
}

#aEspecial {
    background-color: var(--cor3);
    border-radius: 7px;
}

.menu .listaLink .itemLink {}

.menu .listaLink .itemLink a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}
.menu .listaLink .itemLink a:hover {
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 7px;
    transition: 0.5s;
}

/* CONTEÚDO PRINCIPAL */
.conteudoPrincipal {
    background-color: var(--cor1);
    max-width: 1060px;
    margin: auto;
    border-radius: 5px 5px 10px 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.397);
    padding-top: 22px;
    margin-bottom: 20px;
}

/* POSICIONAMENTO */
.posicionamentoMain {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

/* SEÇÃO FORMULARIO */
.secaoFormulario {
    background-color: var(--cor4);
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.397);
}

.secaoFormulario h2 {
    color: var(--cor5);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}

.secaoFormulario .divInput {
    text-align: center;
    margin-bottom: 20px;
}

.secaoFormulario .divInput input {
    padding: 5px 10px;
    border: none;
}

.secaoFormulario .divButton {
    text-align: center;
}

.secaoFormulario .divButton button {
    padding: 8px;
    font-weight: bolder;
    color: var(--cor5);
    border: 1px solid white;
    background-color: var(--cor4);
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 27px;
}
.secaoFormulario .divButton button:hover {
    background-color: var(--cor3);
    color: white;
}

/* SEÇÃO EXPLICAÇÃO DA EMPRESA */
.secaoExplicacao {
    width: 650px;
}

.secaoExplicacao h2 {
    border-bottom: 2px solid var(--cor3);
    padding-bottom: 10px;
    color: var(--cor6);
    font-weight: bolder;
    margin-bottom: 15px;
}

.secaoExplicacao .paragrafoEquipe {
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 18px;
}

.secaoExplicacao .paragrafoEquipe strong {
    color: var(--cor6);
    font-weight: bolder;
}

/* SEÇÃO EQUIPE */
.secaoEquipe {}

.secaoEquipe h2 {
    border-bottom: 2px solid var(--cor3);
    padding-bottom: 10px;
    color: var(--cor6);
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: center;
}

.secaoEquipe .listaEquipe {
    display: flex;
    gap: 72px;
    margin-top: 40px;
    list-style: none;
    padding-bottom: 30px;
}

.secaoEquipe .listaEquipe .itemEquipe {}

.secaoEquipe .listaEquipe .itemEquipe .divImg {}

.secaoEquipe .listaEquipe .itemEquipe .divImg img {
    border-radius: 50%;
    width: 100%;
}

.secaoEquipe .listaEquipe .itemEquipe .divDescricao {}

.secaoEquipe .listaEquipe .itemEquipe .divDescricao h3 {
    text-align: center;
    border-bottom: 2px solid var(--cor3);
    padding-bottom: 10px;
    color: var(--cor6);
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: center;
}

.secaoEquipe .listaEquipe .itemEquipe .divDescricao p {
    text-align: center;
    font-size: 18px;
}

/* RODAPÉ */
.rodape {
    background-color: var(--cor3);
    padding: 10px;
    text-align: center;
}

.rodape p {}

.rodape p strong {
    color: var(--cor6);
    font-weight: bold;
}
