@charset "UTF-8";

/*
    background-color/body = rgb(105, 105, 105)

    background-color/nav = #666666

    background-color/article = #D3D3D3

    background-color/aside = #2E2D2D
*/


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(105, 105, 105);
    margin: 0;
}

header{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

header h1 {
    text-align: center;
}

nav{
    background-color: #666666;
    padding: 3px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 15px;
}

a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    max-width: 800px;
    min-width: 300px;
    margin: 10px auto 30px auto;
    height: 780px;
    border-radius: 0px 0px 10px 10px;
}



article{
    background-color: #D3D3D3;
    padding: 10px;
    /* height: 347px; */
    margin-bottom: 15px;
}

aside{
    background-color: #2E2D2D;
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    padding: 1px;
    background-attachment: fixed;
}